*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    padding: 10px 10px;
    background-color: #44373089;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
}
header h2{
    color: #f2f2f2;
    font-family: 'Courgette',cursive;
    font-size: 1em;
}
header nav{
    width: 100%;
}
header .title{
    margin-bottom: 5px;
}
nav ul li{
    list-style: none;
    padding: 5px 10px;
}
nav ul{
    display: flex;
    justify-content: center;
}
li a{
    color: #f2f2f2;
    text-decoration: none;
    font-family: 'Cairo','Arial';
    z-index: 1;
}
li a:hover{
    text-decoration: underline !important;
}
.screen{
    min-height: 100vh;
}
.bg1{
    background: url("../media/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

