.menuPrincipal{
    width: 80%;
    margin: auto;
    background-color:#e8e8e8;
    min-height: 400px;
    border-radius: 15px 15px 0 0;
}
.secCont{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.headSpace{
    height: 90px;
    width: 100%;
}
.producto{
    width: 20%;
    padding: 20px;;
}
.producto .imagen{
    width: 100%;
}
.producto img{
    max-width: 100%;
}